{% extends "FOSUserBundle::layout.html.twig" %}
{% block menu %}
{% endblock %}

{% block fos_user_content %}
<div style="color: blue;">
<p>
{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
</div>
{% endblock fos_user_content %}
