<script type="text/javascript">
        {{ chart(lchart) }}
        {{ chart(pchart) }}
        {{ chart(bchart) }}
</script>

<div id="line_chart_matrix_dropdown"  style="width:80%; height: 400px; margin: 0 auto"></div>
<div id="pie_chart_matrix_dropdown"  style="width:80%; height: 400px; margin: 0 auto"></div>
<div id="bar_chart_matrix_dropdown"  style="width:80%; height: 400px; margin: 0 auto"></div>