<script type="text/javascript">
        {{ chart(lchart) }}
        {{ chart(pchart) }}
        {{ chart(bchart) }}
</script>

<div id="linechart"  style="width:80%; height: 400px; margin: 0 auto"></div>
<div id="pieChart"  style="width:80%; height: 400px; margin: 0 auto"></div>
<div id="barChart"  style="width:80%; height: 400px; margin: 0 auto"></div>