<script type="text/javascript">
        {{ chart(bchart) }}
        {{ chart(pchart) }}

</script>
<div  id= {{bar_id}}  style="width:40%; height: 400px; margin: 0 auto;margin-left: 10%;"></div>
<div  id= {{p_id}}  style="width:40%; height: 400px; margin: 0 auto;margin-left: 10%;"></div>


