<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" type="text/css" media="screen" /-->
        <link rel="stylesheet" href="{{ asset('css/mobile/bootstrap-responsive.css') }}" type="text/css" media="screen"/>
    
  </head>
  <body>
    <div class="container">
        


         <div class="row">
            <div class="span12">
                <form method="post" >
                  <input type="checkbox"  name="selectMultipleChoice[]" value="test" >  Check this if you are happy :)
                
                </form>
                </div>
             </div>
    </div>
                                  
    
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootsrap.js') }}"></script>
  </body>
</html>