<body>
	<ul>
		<li> 
			<a href="zied_questions"> Go to zied's questions </a>
		</li>
		<li> 
			<a href="bilel_questions"> Go to bilel's questions </a>
		</li>

		<li> 
			<a href="mahdi_questions"> Go to mahdi's questions </a>
		</li>
        </ul>
</body>


