{% autoescape %}
<!-- multiple choice sample start -->
<div class='dragbox' id='2722' data-id='481'>
  <h5>{{'sample.multipleChoice.oneanswer.title'|trans}}  
    <a class='minimize' href='#'></a>
  </h5>
  <div class='dragbox-contentx'>
    <label class='radio'> <input type='radio' name='x' value='un' disabled='disabled'>
    {{'sample.multipleChoice.oneanswer.option1'|trans}}  
    </label>                    
    <label class='radio'> <input type='radio' name='x' value='un' disabled='disabled'>
    {{'sample.multipleChoice.oneanswer.option2'|trans}}  
    </label>
  </div>
</div>
<!-- multiple choice sample start -->
{% endautoescape %}