{% autoescape %}
<div class='dragbox' id='2721' data-id='481' >
  <h5 >   {{'sample.singleTextBox.title'|trans}}  
    <a class='minimize' href='#'></a>
  </h5>
  <div class='dragbox-contentx'>
    <div class='table-responsive'>
      <table class='table table-sample'>
        <tbody>
          <tr>
            <td class='' colspan='2'> <input class='' type='textbox' placeholder='{{'sample.inputPlaceholder' | trans }} ' class='form-control' disabled='disabled'> </td>
          </tr>
          <tr>
            
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endautoescape %}